body {
  margin: 1rem;
  /* height: 100%; 
  min-height: 100%; */
  position: relative;
}

body::after {
  /* content: ''; */
  display: block;
  /* height: 180px; */
}

th {
  background-color: #08052b;
  color: white;
}
/* tr:nth-child(odd) {
  background-color: grey;
} */
/* th, td {
  padding: 0.5rem;
} */
/* td:hover {
  background-color: skyblue;
} */

.paginate_button {
  border-radius: 0 !important;
}

button:hover {
  background-color: black;
  color: white;
}

.footer {
  position: relative;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  /* height: 180px; */
}

.tablediv {
  width: 88%;
  font-size: 15px;
}

.header {
  font-size: large;
}

.download-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 6px 16px;
  text-align: center;
  /* text-decoration: none; */
  /* display: inline-block; */
}

.footer-address {
  float: left;
  margin-left: 20%;

}
.footer-contact {
  float: right;
  margin-right: 20%;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.learnengg-logo {
  width: auto;
  max-width: 100%;
  height: auto;
}

.learnengg-td {
  text-align:left;
}

.odisha-td {
  text-align:left;
}

@media only screen and (max-width: 1000px) {
  /* For mobile phones: */
  [class="tablediv"] {
    width: auto;
    font-size: x-small;
  }
  [class="header"] {
    font-size: 14px;
    width: 100%;
  }
  [class="footer-address"] {
    float: none;
    margin-left: auto;
  }
  [class="footer-contact"] {
    float: none;
    margin-right: auto;
  }
  [class="learnengg-td"] {
    text-align:left;
    width: 18%;
  }
  [class="odisha-td"] {
    text-align:right;
    width: auto;
  }
  body {
    margin: 0rem;
  }
}