body {
  margin: 1rem;
  /* height: 100%; 
  min-height: 100%; */
  position: relative;
}

body::after {
  /* content: ''; */
  display: block;
  /* height: 180px; */
}

th {
  background-color: #08052b;
  color: white;
}
/* tr:nth-child(odd) {
  background-color: grey;
} */
/* th, td {
  padding: 0.5rem;
} */
/* td:hover {
  background-color: skyblue;
} */

.paginate_button {
  border-radius: 0 !important;
}

button:hover {
  background-color: black;
  color: white;
}

.footer {
  position: relative;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  /* height: 180px; */
}

.tablediv {
  width: 50%;
}

.header {
  font-size: x-large;
}

.footer-address {
  float: left;
  margin-left: 26%;

}
.footer-contact {
  float: right;
  margin-right: 26%;
}

img {
  width: auto ;
  max-width: 100% ;
  height: auto ;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class="tablediv"] {
    width: auto;
    font-size: x-small;
  }
  [class="header"] {
    font-size: 14px;
    width: 100%;
  }
  [class="footer-address"] {
    float: none;
    margin-left: auto;
  }
  [class="footer-contact"] {
    float: none;
    margin-right: auto;
  }
  body {
    margin: 0rem;
  }
}